.editor-control-icon {
  height: 30px;
  width: 30px;
  font-size: 18px;
  border: 1px solid black;
  background: none;
  border-radius: 5px;
  margin: 2.5px;

  & > svg {
    display: block;
    margin: auto;
    height: 100%;
  }

  &.active,
  &:hover {
    background-color: black;

    & > svg > path {
      fill: white;
    }
  }
}
