@import "src/slugline.scss";

.editor-controls {
  padding: map-get($map: $spacers, $key: 1);
  border-bottom: none;
  display: flex;
}

div.editor-separator {
  width: 1px;
  background: black;
  margin: map-get($map: $spacers, $key: 1) / 2;
}
