@import "src/slugline.scss";

.editor-controls {
  padding: spacing(1);
  border-bottom: none;
  display: flex;
}

div.editor-separator {
  width: 1px;
  background: black;
  margin: spacing(1) / 2;
}
