.editor-header {
  margin-bottom: 1em;
}

input.editor-header-input {
  font-family: DIN Next;
  width: 100%;
  border: none;
  background: none;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }

  &.title-input {
    font-size: 3em;
    text-transform: uppercase;
  }

  &.subtitle-input {
    font-size: 1.5em;
    font-style: italic;
    text-transform: uppercase;
  }
}

div.editor-body {
  height: 70vh;
  padding: 10px;
}
