@import "../../../styles/primary_style_vars";

.ActionLink {
  font-family: $headings-ff;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  color: $black;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}
