@import "../../../styles/slugline_vars";
@import "../../../styles/slugline_mixins";

.Breadcrumbs {
  @include slugline-dek;

  &_itemList {
    display: flex;
    list-style: none;
    padding: 0;
  }

  &_sep {
    margin: 0 spacing(1);
  }

  &_link {
    text-decoration: none;

    &:hover {
      color: $link-color;
      text-decoration: underline;
    }
  }
}
