@import "../../../styles/slugline_vars";

.spinner-linear {
  position: relative;
  display: inline-block;
  height: .6em;
  min-height: .6rem;
  width: 70%;
  max-width: 350px;
  background: $gray-300;
  color: transparent;
  overflow: hidden;
  border-radius: $border-radius;
  mix-blend-mode: multiply;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 350px;
    background: linear-gradient(to right, $gray-300, $gray-200 20%, $gray-300 40%);
    transform: translateX(-50%);
    animation: spinner-linear linear 2s infinite;
  }
}

@keyframes spinner-linear {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(150%);
  }
}
