@import "../../../styles/slugline_vars";

.RichTable {
  font-family: $headings-ff;
  margin: spacing(3) 0;

  th, td {
    overflow: hidden;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  thead th {
    text-transform: uppercase;
    padding-top: spacing(2);
    padding-bottom: spacing(2);
    border-bottom: none;
  }

  tr:last-child td {
    border-bottom: 1px solid $table-border-color;
  }

  &_header {
    margin-bottom: spacing(1);
  }

  &_header,
  &_footer {
    min-height: 2rem;

    .btn {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &_table {
    table-layout: fixed;
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
      width: auto;
      min-width: 100%;
    }
  }

  &_search,
  &_actions,
  &_pagination,
  &_summary {
    display: flex;
    align-items: center;
  }

  &_cellHeader {
    display: inline-flex;
    width: 100%;
    align-items: center;
  }

  &_searchBox {
    height: 100%;
  }

  &_actions .btn {
    padding-left: 0;
  }

  &_selectCheckbox {
    min-width: 1.33 * spacing(4);
    width: 2 * spacing(4);
  }

  &_selectCheckbox .custom-checkbox {
    margin-right: -1 * spacing(4);
  }

  &_noRowsReturned {
    font-style: italic;
  }
}

