.nav-link > h4 {
  margin-bottom: 0;
  font-weight: normal;
}

#navContainer {
  padding-left: 15px;
  padding-right: 15px;
}

.custom-toggler.navbar-toggler {
  color: black;
  border-color: black;

  & > .navbar-toggler-icon {
    //custom SVG image with the color we need
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}
