@import "src/slugline_vars";

.RichTable {
  font-family: $headings-ff;
  margin: spacing(3) 0;

  thead th {
    text-transform: uppercase;
    padding-top: spacing(2);
    padding-bottom: spacing(2);
    border-bottom: none;
  }

  &_header {
    margin-bottom: spacing(1);

    .btn {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &_table {
    margin-bottom: 0;
  }

  &_search,
  &_actions,
  &_pagination,
  &_summary {
    display: flex;
    align-items: center;
  }

  &_cellHeader {
    display: inline-flex;
    width: 100%;
    align-items: center;
  }

  &_searchBox {
    height: 100%;
  }

  &_actions .btn {
    padding-left: 0;
  }

  &_selectCheckbox .custom-checkbox {
    margin-right: -1 * spacing(4);
  }
}

