@import "../../styles/slugline_vars";

.Hero {
  --background-clr: #{$primary};

  background-color: var(--background-clr);
  padding-top: spacing(3);
  padding-bottom: spacing(5);

  &_coverImg {
    height: 20rem;
    mix-blend-mode: multiply;
  }

  .spinner-linear {
    max-width: 600px;
  }

  &_loaderDateline {
    width: 45%;
  }

  &_loaderTitle {
    width: 30%;
  }

  &_loaderDesc {
    width: 50%;
  }

  &_loaderCta {
    max-width: 200px;
  }
}

.IssueEntry {
  &_title a {
    color: $black;
    text-decoration: none;

    &:hover {
      color: $black;
      text-decoration: underline;
    }
  }

  &--hero {
    min-width: 200px;
  }
}
