@import "../../styles/primary_style_vars";

.Hero {
  &--full .IssueEntry {
    min-width: 14rem;
  }

  &--full &_container {
    display: flex;
  }

  &_coverImg {
    height: 20rem;
    mix-blend-mode: multiply;
  }

  &_loaderDateline {
    width: 45%;
  }

  &_loaderTitle {
    width: 30%;
  }

  &_loaderDesc {
    width: 50%;
  }

  &_loaderCta {
    max-width: 200px;
  }
}
