@import "../../../styles/slugline_vars";

.editor-control {
  height: 30px;
  width: 30px;
  font-size: 18px;
  border: none;
  background: none;
  border-radius: 5px;
  margin: spacing(1) / 2;

  & > svg {
    display: block;
    margin: auto;
    height: 100%;
    max-width: 100%;
    width: auto;

    & > path {
      fill: $gray-700;
    }
  }

  &.active,
  &:hover {
    background-color: black;

    & > svg > path {
      fill: white;
    }
  }
}

.extras-dropdown {
  align-self: flex-end;
  margin-left: auto;
  // this pushes it away from the scroll bar, which looks nicer
  margin-right: spacing(3);

  & > button {
    background: none;
    font-family: "Headings Font";
    border: none;

    &:active,
    &:hover {
      background: none !important;
    }
  }
}

.control-popover {
  padding: $spacer;
  background: white;
  border: solid 1px gray;
  border-radius: 5px;
  width: auto;
}
