@import "../../../styles/slugline_vars";

.editor-control {
  height: 30px;
  width: 30px;
  font-size: 18px;
  border: none;
  background: none;
  border-radius: $border-radius;
  margin: spacing(1) / 2;
  // Chrome gives buttons 6px of padding, while Firefox gives them 8px.
  // This leads to inconsistent icon sizes, so we're standardizing
  // on the objectively superior Chrome value.
  padding: 6px;

  & > svg {
    display: block;
    margin: auto;
    height: 100%;
    max-width: 100%;
    width: auto;

    & > path {
      fill: $gray-700;
    }
  }

  &.active,
  &:hover,
  &:focus {
    background-color: black;
    color: white;
    & > svg > path {
      fill: white;
    }
  }

  &.dropdown-toggle {
    padding: 0;
    width: 20px;

    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;

    &::after {
      vertical-align: middle;
    }
  }
}

.btn-group > .editor-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.editor-control-text {
  display: block;
  width: 100%;
  text-align: left;
}

.extras-dropdown {
  align-self: flex-end;
  margin-left: auto;
  // this pushes it away from the scroll bar, which looks nicer
  margin-right: spacing(3);

  & > button {
    background: none;
    font-family: "Headings Font";
    border: none;

    &:active,
    &:hover {
      background: none !important;
    }
  }
}

.control-popover {
  padding: $spacer;
  background: white;
  border: solid 1px gray;
  border-radius: $border-radius;
  width: auto;
}
