.Image {
  width: 100%;

  &__img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-width: 85%;
    min-width: 50%;

    height: auto;

    // match the spacing for paragraphs
    margin-bottom: 1rem;

    &--selected {
      box-shadow: 0px 0px 0px 2px lightblue;
    }
  }
}
