@import "slugline_vars";
@import "slugline_fonts";

@import "../../node_modules/bootstrap/scss/bootstrap";

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

// Link styling
a {
  text-decoration: underline;
}

// Form styling
.form-control {
  border-top: none;
  border-left: none;
  border-right: none;

  &.is-invalid,
  &.is-valid {
    box-shadow: none !important;
  }
}

.input-group {
  & > .input-group-append,
  & > .input.group.prepend {
    button {
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
    }
  }
}

// Styles for article content
span.underline-custom {
  text-shadow: 1px 0px white, -1px 0px white;
  background-image: linear-gradient(
    to bottom,
    black 0% 33%,
    transparent 33% 100%
  );
  background-position: 0 1em;
  background-size: 2px 0.2em;
  padding-bottom: 0.2em;
  background-repeat: repeat-x;
}

span.double-underline-custom {
  text-shadow: 1px 0px white, -1px 0px white;
  background-image: linear-gradient(
    to bottom,
    black 0%,
    33%,
    rgba(0, 0, 0, 0) 33% 66%,
    black 66% 100%
  );
  background-position: 0 1em;
  background-size: 2px 0.2em;
  padding-bottom: 0.2em;
  background-repeat: repeat-x;
}
