@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../styles/slugline_vars";

.VolumeIssues_list {
  display: flex;
  column-gap: 2%;
  overflow: auto;

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }
}

.VolumeIssue {
  width: 15%;
  flex-shrink: 0;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &_img {
    width: 100%;
    mix-blend-mode: multiply;
  }

  &_number {
    text-decoration: underline;
  }

  &:hover &_imgWrapper {
    opacity: 0.9;
  }

  @include media-breakpoint-down(md) {
    min-width: 10em;
  }
}
