.editor-control {
  height: 30px;
  width: 30px;
  font-size: 18px;
  border: none;
  background: none;
  border-radius: 5px;
  margin: 2.5px;

  & > svg {
    display: block;
    margin: auto;
    height: 100%;
    max-width: 100%;
    width: auto;

    & > path {
      fill: #4f4f4f;
    }
  }

  &.active,
  &:hover {
    background-color: black;

    & > svg > path {
      fill: white;
    }
  }
}

.control-popover {
  padding: 10px;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
}
