@import "../../styles/slugline_vars";

.editor {
  height: calc(
    100vh - 5rem
  ); // the navbar is about 5 rem tall, and we want the editor to fill the remaining space
  display: flex;
  flex-direction: column;
}

.editor-contenteditable {
  // we want this to always take up the full height so we can click on the whole thing to focus it
  height: 100%;
}

.editor-header,
.editor-footer {
  margin-bottom: $spacer;
}

input.editor-header-input {
  font-family: "Headings Font";
  width: 100%;
  border: none;
  background: none;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }

  &.title-input {
    font-size: 3em;
    text-transform: uppercase;
  }

  &.subtitle-input {
    font-size: 1.5em;
    font-style: italic;
    text-transform: uppercase;
  }

  &.author-input {
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Body Font";
  }
}

div.editor-body {
  flex: 1 0;
  padding: spacing(3) spacing(1);
  overflow: auto;
}
