// Use our custom fonts
$body-ff: "Joanna Nova", serif;
$headings-ff: "DIN Next", sans-serif;

$font-family-sans-serif: $body-ff; //This is a misnomer, our body font is serif
$headings-font-family: $headings-ff;

$primary: #f2c0d9;

// Headers
$headings-color: black;

// Links
$link-color: black;

// Navbar variables
$navbar-light-color: $primary;
$navbar-brand-font-size: 2rem;

// Forms
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;
$input-border-width: 1px;
$input-border-color: black;
$input-focus-box-shadow: none;
$input-focus-border-color: $primary;
$enable-validation-icons: false;

// FUNCTIONS
@function spacing($n) {
  @return map-get($map: $spacers, $key: $n);
}

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
