@font-face {
  font-family: "Body Font";
  src: url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
}

@font-face {
  font-family: "Headings Font";
  src: url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");
}
