// Use our custom fonts
$font-family-sans-serif: Joanna Nova; //This is a misnomer, our body font is serif
$headings-font-family: DIN Next;

$primary: #f2c0d9;

// Headers
$headings-color: black;

// Links
$link-color: black;

// Navbar variables
$nav-link-padding-x: 1.25rem;
$navbar-light-color: $primary;
$navbar-brand-font-size: 2rem;
