@import "slugline_vars";

@import "~bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: "Body Font";
  src: url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
}

@font-face {
  font-family: "Headings Font";
  src: url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
}


// Convenient class for mathnews logo
.mathnews-logo::before {
  content: "math";
  font-family: $body-ff;
}

.mathnews-logo::after {
  content: "NEWS";
  font-family: $headings-ff;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

// Form styling
input.form-control {
  border-top: none;
  border-left: none;
  border-right: none;

  &.is-invalid,
  &.is-valid {
    box-shadow: none !important;
  }
}

.input-group {
  & > .input-group-append,
  & > .input.group.prepend {
    button {
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
    }
  }
}
