@font-face {
  font-family: "DIN Next";
  src: url("./fonts/din_next.woff") format("woff");
}

@font-face {
  font-family: "Joanna Nova";
  src: url("./fonts/joanna_nova.woff") format("woff");
}

@import "slugline_vars";

@import "~bootstrap/scss/bootstrap.scss";

// Convenient class for mathnews logo
.mathnews-logo::before {
  content: "math";
  font-family: Joanna Nova;
}

.mathnews-logo::after {
  content: "NEWS";
  font-family: DIN Next;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

// Form styling
.form-control {
  border-top: none;
  border-left: none;
  border-right: none;

  &.is-invalid,
  &.is-valid {
    box-shadow: none !important;
  }
}

.input-group {
  & > .input-group-append,
  & > .input.group.prepend {
    button {
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
    }
  }
}
